@font-face {
  font-family: "Rajdhani";
  font-weight: 600;
  src: url(@/assets/fonts/rajdhani-semibold.woff2) format("woff2");
}

:root {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #be1a39;
  --border-color: #dfdfdf;
  --border-radius: 8px;
  --title-font-family: "Rajdhani", system-ui, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  margin: 0.5rem 0;
}

a {
  transition: color 0.2s ease-in-out;
  color: #0d6efd;
}

a:hover {
  color: #0a58ca;
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid var(--border-color);
}

tbody > tr:nth-child(2n + 1) {
  background-color: #f1f1f1;
}

th {
  text-align: center;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

td {
  padding: 0.25rem 0.5rem;
  text-align: center;
}

td {
  vertical-align: center;
}

figure {
  margin: 0;
  padding: 0;
  text-align: center;
}

figcaption {
  font-size: 0.875rem;
}

img,
svg {
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  td {
    padding: 0.5rem 1rem;
  }
}
