@media screen and (min-width: 1400px) {
  .container-xxl {
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.nav-link {
  color: #777777;
  text-decoration: none;
}

.nav-link:hover {
  color: #555555;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.table-responsive {
  overflow-x: auto;
}

.hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .hide-md {
    display: none;
  }

  .show-md {
    display: inherit;
  }
}
